In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [12]:
# Set Matplotlib defaults
plt.style.use("seaborn-whitegrid")
plt.rc("figure", autolayout=True)
plt.rc(
    "axes",
    labelweight="bold",
    labelsize="large",
    titleweight="bold",
    titlesize=14,
    titlepad=10,
)

warnings.filterwarnings('ignore')

In [13]:
path = "./Resources/Datasets"
SalesData = pd.read_csv(path + '/sales_data.csv')
WeekData = pd.read_csv(path + '/week_data.csv')
ProductData = pd.read_csv(path + '/product_data.csv')
OutletsData = pd.read_csv(path + '/outlets_data.csv')
FreezerData = pd.read_csv(path + '/freezer_data.csv')

In [14]:
WeekData['Week'] = WeekData['Week'].str.replace('Week ', '').astype(int)
#rename the column to 'week'
WeekData.rename(columns={'Week':'week'}, inplace=True)

In [15]:
CombinedData = pd.merge(SalesData, WeekData, left_on='week', right_on='week')
CombinedData.drop(['product_name'], axis=1, inplace=True)
CombinedData = pd.merge(CombinedData, ProductData, on='pid')
CombinedData = pd.merge(CombinedData, OutletsData, on='Outlet_ID')

In [16]:
CombinedData.head()

,Outlet_ID,week,pid,no_units,Start Date,End Date,volume,product_name,price,area(sqft)
0,ID7203,1,IP1,874.0,1/2/2023,1/8/2023,0.2,Vanilla Mini Cone,100,5660
1,ID7203,2,IP1,644.0,1/9/2023,1/15/2023,0.2,Vanilla Mini Cone,100,5660
2,ID7203,3,IP1,600.0,1/16/2023,1/22/2023,0.2,Vanilla Mini Cone,100,5660
3,ID7203,4,IP1,106.0,1/23/2023,1/29/2023,0.2,Vanilla Mini Cone,100,5660
4,ID7203,5,IP1,775.0,1/30/2023,2/5/2023,0.2,Vanilla Mini Cone,100,5660

In [17]:
from datetime import datetime
import os

def clean_data(CombinedData):
    # Drop duplicate rows across all columns
    CombinedData = CombinedData.drop_duplicates()
    # Derive column 'start_month' from column: 'Start Date'
    
    def start_month(Start_Date):
        """
        Transform "Start_Date" as per the following examples:
          1/2/2023 ==> 1
        """
        date1 = datetime.strptime(Start_Date, "%m/%d/%Y")
        date_format1 = '%-m' if os.name != 'nt' else '%#m'
        return date1.strftime(date_format1)
    
    CombinedData.insert(5, "start_month", CombinedData.apply(lambda row : start_month(row["Start Date"]), axis=1))
    # Derive column 'start_date' from column: 'Start Date'
    
    def start_date(Start_Date):
        """
        Transform "Start_Date" as per the following examples:
          1/2/2023 ==> 2
        """
        date1 = datetime.strptime(Start_Date, "%m/%d/%Y")
        date_format1 = '%-d' if os.name != 'nt' else '%#d'
        return date1.strftime(date_format1)
    
    CombinedData.insert(5, "start_date", CombinedData.apply(lambda row : start_date(row["Start Date"]), axis=1))
    # Drop column: 'Start Date'
    CombinedData = CombinedData.drop(columns=['Start Date'])
    # Derive column 'end_month' from column: 'End Date'
    
    def end_month(End_Date):
        """
        Transform "End_Date" as per the following examples:
          1/8/2023 ==> 1
        """
        date1 = datetime.strptime(End_Date, "%m/%d/%Y")
        date_format1 = '%-m' if os.name != 'nt' else '%#m'
        return date1.strftime(date_format1)
    
    CombinedData.insert(7, "end_month", CombinedData.apply(lambda row : end_month(row["End Date"]), axis=1))
    # Derive column 'end_date' from column: 'End Date'
    
    def end_date(End_Date):
        """
        Transform "End_Date" as per the following examples:
          1/8/2023 ==> 8
        """
        date1 = datetime.strptime(End_Date, "%m/%d/%Y")
        date_format1 = '%-d' if os.name != 'nt' else '%#d'
        return date1.strftime(date_format1)
    
    CombinedData.insert(7, "end_date", CombinedData.apply(lambda row : end_date(row["End Date"]), axis=1))
    # Drop column: 'End Date'
    CombinedData = CombinedData.drop(columns=['End Date'])
    return CombinedData

CombinedData_clean = clean_data(CombinedData.copy())

In [18]:
CombinedData_clean.head()

,Outlet_ID,week,pid,no_units,start_date,start_month,end_date,end_month,volume,product_name,price,area(sqft)
0,ID7203,1,IP1,874.0,2,1,8,1,0.2,Vanilla Mini Cone,100,5660
1,ID7203,2,IP1,644.0,9,1,15,1,0.2,Vanilla Mini Cone,100,5660
2,ID7203,3,IP1,600.0,16,1,22,1,0.2,Vanilla Mini Cone,100,5660
3,ID7203,4,IP1,106.0,23,1,29,1,0.2,Vanilla Mini Cone,100,5660
4,ID7203,5,IP1,775.0,30,1,5,2,0.2,Vanilla Mini Cone,100,5660

In [19]:
def clean_data(CombinedData_clean):
    # Drop column: 'pid'
    CombinedData_clean = CombinedData_clean.drop(columns=['pid'])
    # Drop column: 'end_month'
    CombinedData_clean = CombinedData_clean.drop(columns=['end_month'])
    # Drop column: 'end_date'
    CombinedData_clean = CombinedData_clean.drop(columns=['end_date'])
    # Drop column: 'start_month'
    CombinedData_clean = CombinedData_clean.drop(columns=['start_month'])
    # Drop column: 'start_date'
    CombinedData_clean = CombinedData_clean.drop(columns=['start_date'])
    return CombinedData_clean

CombinedData_clean_1 = clean_data(CombinedData_clean.copy())

In [20]:
CombinedData_clean_1.head()

  Outlet_ID  week  no_units  volume       product_name  price  area(sqft)
0    ID7203     1     874.0     0.2  Vanilla Mini Cone    100        5660
1    ID7203     2     644.0     0.2  Vanilla Mini Cone    100        5660
2    ID7203     3     600.0     0.2  Vanilla Mini Cone    100        5660
3    ID7203     4     106.0     0.2  Vanilla Mini Cone    100        5660
4    ID7203     5     775.0     0.2  Vanilla Mini Cone    100        5660

In [21]:
import pandas as pd

def clean_data(CombinedData_clean_1):
    # Drop duplicate rows across all columns
    CombinedData_clean_1 = CombinedData_clean_1.drop_duplicates()
    # Change column type to category for column: 'Outlet_ID'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'Outlet_ID': 'category'})
    # Change column type to float64 for column: 'week'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'week': 'float64'})
    # Change column type to int64 for column: 'no_units'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'no_units': 'int64'})
    # Change column type to float64 for column: 'volume'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'volume': 'float64'})
    # Change column type to category for column: 'product_name'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'product_name': 'category'})
    # Change column type to object for column: 'product_name'
    CombinedData_clean_1 = CombinedData_clean_1.astype({'product_name': 'object'})
    # One-hot encode column: 'product_name'
    CombinedData_clean_1 = pd.get_dummies(CombinedData_clean_1, columns=['product_name'])
    # Derive column 'total_volume' from columns: 'no_units', 'volume'
    def total_volume(no_units, volume):
        """
        Transform "no_units", "volume" as per the following examples:
          874, 0.2 ==> 174.8
          644, 0.2 ==> 128.8
          106, 0.2 ==> 21.2
        """
        number1 = volume * no_units
        return f"{number1:03.1f}"
    
    CombinedData_clean_1.insert(4, "total_volume", CombinedData_clean_1.apply(lambda row : total_volume(row["no_units"], row["volume"]), axis=1))
    # Derive column 'total_price' from columns: 'no_units', 'price'
    def total_price(no_units, price):
        """
        Transform "no_units", "price" as per the following examples:
          874, 100 ==> 87400
          644, 100 ==> 64400
          105, 90 ==> 9450
        """
        number1 = price * no_units
        return f"{number1:01.0f}"
    
    CombinedData_clean_1.insert(6, "total_price", CombinedData_clean_1.apply(lambda row : total_price(row["no_units"], row["price"]), axis=1))
    # Derive column 'volume_per_price' from columns: 'total_volume', 'total_price'
    def volume_per_price(total_price, total_volume):
        """
        Transform "total_price", "total_volume" as per the following examples:
          64400, 128.8 ==> 500
          64400, 128.8 ==> 500
          87400, 174.8 ==> 500
        """
        number1 = float(total_price.replace(",", "")) / float(total_volume.replace(",", ""))
        return f"{number1:01.0f}"
    
    CombinedData_clean_1.insert(7, "volume_per_price", CombinedData_clean_1.apply(lambda row : volume_per_price(row["total_price"], row["total_volume"]), axis=1))
    return CombinedData_clean_1

CombinedData_clean_2 = clean_data(CombinedData_clean_1.copy())

In [22]:
CombinedData_clean_2.head()

,Outlet_ID,week,no_units,volume,total_volume,price,total_price,volume_per_price,area(sqft),product_name_Butter Pecan Small Stick,product_name_Chocolate Fudge Big Scoop,product_name_Chocolate Petite Bar,product_name_Cookies and Cream Mega Tub,product_name_Mint Bite-size Pop,product_name_Mint Chocolate Chip Family Pack,product_name_Moose Tracks Jumbo Cup,product_name_Rocky Road Mega Tub,product_name_Strawberry Tiny Cup,product_name_Vanilla Mini Cone
0,ID7203,1.0,874,0.2,174.8,100,87400,500,5660,0,0,0,0,0,0,0,0,0,1
1,ID7203,2.0,644,0.2,128.8,100,64400,500,5660,0,0,0,0,0,0,0,0,0,1
2,ID7203,3.0,600,0.2,120.0,100,60000,500,5660,0,0,0,0,0,0,0,0,0,1
3,ID7203,4.0,106,0.2,21.2,100,10600,500,5660,0,0,0,0,0,0,0,0,0,1
4,ID7203,5.0,775,0.2,155.0,100,77500,500,5660,0,0,0,0,0,0,0,0,0,1

In [23]:
def clean_data(CombinedData_clean_2):
    # Change column type to float64 for column: 'no_units'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'no_units': 'float64'})
    # Change column type to float64 for column: 'total_volume'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'total_volume': 'float64'})
    # Change column type to float64 for column: 'price'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'price': 'float64'})
    # Change column type to float64 for column: 'price'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'price': 'float64'})
    # Change column type to float64 for column: 'volume_per_price'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'volume_per_price': 'float64'})
    # Change column type to float64 for column: 'area(sqft)'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'area(sqft)': 'float64'})
    # Change column type to float64 for column: 'total_price'
    CombinedData_clean_2 = CombinedData_clean_2.astype({'total_price': 'float64'})
    # Performed 19 aggregations grouped on column: 'Outlet_ID'
    CombinedData_clean_2 = CombinedData_clean_2.groupby(['Outlet_ID']).agg(week_skew=('week', 'skew'), no_units_mean=('no_units', 'mean'), volume_mode=('volume', lambda s: s.value_counts().index[0]), total_volume_mean=('total_volume', 'mean'), price_max=('price', 'max'), price_mean=('price', 'mean'), total_price_mean=('total_price', 'mean'), volume_per_price_mean=('volume_per_price', 'mean'), areasqft_mode=('area(sqft)', lambda s: s.value_counts().index[0]), product_name_ButterPecanSmallStick_max=('product_name_Butter Pecan Small Stick', 'max'), product_name_ChocolateFudgeBigScoop_max=('product_name_Chocolate Fudge Big Scoop', 'max'), product_name_ChocolatePetiteBar_max=('product_name_Chocolate Petite Bar', 'max'), product_name_CookiesandCreamMegaTub_max=('product_name_Cookies and Cream Mega Tub', 'max'), product_name_MintBitesizePop_max=('product_name_Mint Bite-size Pop', 'max'), product_name_MintChocolateChipFamilyPack_max=('product_name_Mint Chocolate Chip Family Pack', 'max'), product_name_MooseTracksJumboCup_max=('product_name_Moose Tracks Jumbo Cup', 'max'), product_name_RockyRoadMegaTub_max=('product_name_Rocky Road Mega Tub', 'max'), product_name_StrawberryTinyCup_max=('product_name_Strawberry Tiny Cup', 'max'), product_name_VanillaMiniCone_max=('product_name_Vanilla Mini Cone', 'max')).reset_index()
    return CombinedData_clean_2

CombinedData_clean_3 = clean_data(CombinedData_clean_2.copy())

In [26]:
CombinedData_clean_3.head()

,Outlet_ID,week_skew,no_units_mean,volume_mode,total_volume_mean,price_max,price_mean,total_price_mean,volume_per_price_mean,areasqft_mode,product_name_ButterPecanSmallStick_max,product_name_ChocolateFudgeBigScoop_max,product_name_ChocolatePetiteBar_max,product_name_CookiesandCreamMegaTub_max,product_name_MintBitesizePop_max,product_name_MintChocolateChipFamilyPack_max,product_name_MooseTracksJumboCup_max,product_name_RockyRoadMegaTub_max,product_name_StrawberryTinyCup_max,product_name_VanillaMiniCone_max
0,ID1008,0.050093,589.321429,0.2,117.864286,110.0,99.642857,58767.678571,498.214286,3387.0,1,0,1,0,1,0,0,0,1,1
1,ID1012,0.004224,60.648148,1.0,60.648148,1200.0,1112.962963,67567.592593,1112.962963,1931.0,0,1,0,1,0,1,1,1,0,0
2,ID1024,-0.034795,126.236364,1.0,126.236364,1200.0,1110.909091,140478.181818,1110.909091,3127.0,0,1,0,1,0,1,1,1,0,0
3,ID1029,0.000406,472.519231,0.2,158.826923,1200.0,575.096154,128857.307692,787.019231,5294.0,1,1,1,1,1,1,1,1,1,1
4,ID1036,0.071437,287.743119,0.2,80.748624,1200.0,590.825688,58154.770642,796.330275,2584.0,1,1,1,1,1,1,1,1,1,1