# Preliminaries

In [522]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

In [523]:
# Set Matplotlib defaults
plt.style.use("seaborn-whitegrid")
plt.rc("figure", autolayout=True)
plt.rc(
    "axes",
    labelweight="bold",
    labelsize="large",
    titleweight="bold",
    titlesize=14,
    titlepad=10,
)

warnings.filterwarnings('ignore')

Import the data

In [524]:
path = "../Datasets/"
Train = pd.read_csv(path + '/Historical-transaction-data.csv')
StoreInfo = pd.read_csv(path + '/Store-info.csv')
Submission_testing = pd.read_csv(path + '/Testing-data.csv')

Join both datasets to form a train dataset

In [525]:
Train = Train.merge(StoreInfo, on='shop_id', how='left')

In [526]:
Submission_testing.drop("shop_profile", axis=1, inplace=True)
# Submission_testing = Submission_testing.merge(StoreInfo, on='shop_id', how='left')
# Submission_testing.drop("shop_profile", axis=1, inplace=True)
Submission_testing = Submission_testing.merge(Train, on='shop_id', how='left')

In [527]:
Submission_testing.drop("shop_profile", axis=1, inplace=True)

In [528]:
# Train.head()

In [529]:
# Submission_testing.head()

In [530]:
print("New length: ", Train.shape[0])

New length:  473974

Remove Duplicates

In [531]:
i_length = Train.shape[0]

In [532]:
Train.drop_duplicates(inplace=True)

In [533]:

print("Duplicates dropped from Train: ", i_length - Train.shape[0] )
print("New length: ", Train.shape[0])

Duplicates dropped from Train:  31211
New length:  442763

# Analysis

Missing data

In [534]:
# plt.figure(figsize=(10,8))
# cols = Train.columns
# colours = ['#000099', '#ffff00'] # specify colours: yellow - missing. blue - not missing
# sns.heatmap(Train[cols].isna(), cmap=sns.color_palette(colours))

In [535]:
# # No. of columns missing for the rows
# missing_by_row = Train.isna().sum(axis="columns")
# missing_by_row.hist(bins=100)

In [536]:
pct_missing = Train.isna().mean()
pct_missing[:15]

item_description    0.079198
transaction_date    0.000000
invoice_id          0.013030
customer_id         0.000000
shop_id             0.000000
item_price          0.000000
quantity_sold       0.000000
shop_area_sq_ft     0.000000
shop_profile        0.183565
dtype: float64

In [537]:
#Remove rows with null values for item_description or shop_profile
Train = Train.dropna(subset=['item_description', 'shop_profile'], axis=0)

In [538]:
# Train.info()

In [539]:
print("New length: ", Train.shape[0])

New length:  332581

Fill Missing Values

In [540]:
# Train.info()

Encoding

In [541]:
# Set the data types of each feature

# The nominative (unordered) categorical features
features_nom = ["item_description", "customer_id", "shop_id", "shop_profile"]

for feature in features_nom:
    Train[feature] = Train[feature].astype("category")
    if feature == "shop_profile":
        continue
    Submission_testing[feature] = Submission_testing[feature].astype("category")

Train["transaction_date"] = pd.to_datetime(Train["transaction_date"])

In [542]:
Train_y = Train["shop_profile"]
Train.drop("shop_profile", axis=1, inplace=True)

In [543]:
# Train.info()

In [544]:
Train.drop(["invoice_id", "customer_id"], axis=1, inplace=True)
Submission_testing.drop(["invoice_id", "customer_id"], axis=1, inplace=True)

In [545]:
# # creating mask
# mask = np.triu(np.ones_like(Train.corr()))
 
# # plotting a triangle correlation heatmap
# dataplot = sns.heatmap(Train.corr(), cmap="YlGnBu", annot=True, mask=mask)
 
# # displaying heatmap
# plt.show()

In [546]:
# Check for outliers

Train.kurt(numeric_only=True)

item_price         382.227475
quantity_sold      420.507197
shop_area_sq_ft      2.908254
dtype: float64

In [547]:
Train["quantity_sold"].describe()

count    332581.000000
mean          1.874626
std           1.539118
min          -1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max         101.000000
Name: quantity_sold, dtype: float64

In [548]:
# TODO : further investigate the outliers

In [549]:
Train["item_price"].describe()

count    332581.000000
mean        214.825306
std         167.916289
min          35.000000
25%         110.000000
50%         220.000000
75%         220.000000
max       17400.000000
Name: item_price, dtype: float64

In [550]:
Train['timestamp_dt'] = pd.to_datetime(Train['transaction_date'], format='%Y-%m-%d')
Train['year'] = Train['timestamp_dt'].dt.year
Train['month'] = Train['timestamp_dt'].dt.month
Train['weekday'] = Train['timestamp_dt'].dt.weekday

Train.drop(['timestamp_dt', 'transaction_date'], axis=1, inplace=True)

Train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,ORANGE BARLEY 1.5L,SHOP008,220,2,678,2021,12,5
1,GINGER BEER 1.5L,SHOP112,220,2,668,2021,10,6
2,TONIC PET 500ML,SHOP008,160,2,678,2021,12,0
3,CREAM SODA 1L,SHOP008,150,2,678,2021,12,0
4,STRAWBERRY MILK 180ML,SHOP112,210,5,668,2021,10,5

In [551]:
Submission_testing['timestamp_dt'] = pd.to_datetime(Submission_testing['transaction_date'], format='%Y-%m-%d')
Submission_testing['year'] = Submission_testing['timestamp_dt'].dt.year
Submission_testing['month'] = Submission_testing['timestamp_dt'].dt.month
Submission_testing['weekday'] = Submission_testing['timestamp_dt'].dt.weekday

Submission_testing.drop(['timestamp_dt', 'transaction_date'], axis=1, inplace=True)

Submission_testing.head()

,shop_id,item_description,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,SHOP046,FIT O MIXED FRUIT 1L,270,1,545,2021,10,4
1,SHOP046,FIT O ORANGE 1L,290,1,545,2021,10,2
2,SHOP046,LEMONADE 1.5L,220,2,545,2021,10,3
3,SHOP046,FIT O MANGO 200ML,180,4,545,2021,11,2
4,SHOP046,FIT O MIXED FRUIT 200ML,60,1,545,2021,11,2

In [552]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Train_y = le.fit_transform(Train_y)

In [553]:
# remove the substring "SHOP" from the shop_id column and convert it to int
Train["shop_id"] = Train["shop_id"].str.replace("SHOP", "").astype(int)
# Train["shop_id"] = Train["shop_id"].str.replace("SHOP", "")
# Train["shop_id"] = Train["shop_id"].astype()")
# convert it to categorical
Train["shop_id"] = Train["shop_id"].astype("category")

In [554]:
# remove the substring "SHOP" from the shop_id column
Submission_testing["shop_id"] = Submission_testing["shop_id"].str.replace("SHOP", "").astype(int)

In [555]:
## Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Train, Train_y, test_size = 0.2, random_state = 1)

In [556]:
X_train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
13201,SODA 1L,86,110,2,661,2021,10,5
293065,LEMONADE 500ML,37,200,2,717,2021,12,5
63548,LEMONADE 1.5L,66,220,3,470,2021,12,0
466484,GINGER BEER 1.5L,60,220,1,676,2021,10,2
316348,SODA 1L,112,220,3,668,2021,11,0

In [557]:
y_train = pd.DataFrame(y_train)
y_test = pd.DataFrame(y_test)

In [558]:
# X_train.info()

In [559]:
Submission_testing = Submission_testing[Train.columns]

In [560]:
# X_train.head()

In [561]:
# unique values in each column
X_train.nunique()

item_description     37
shop_id             100
item_price          172
quantity_sold        59
shop_area_sq_ft      53
year                  1
month                 3
weekday               7
dtype: int64

In [562]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266064 entries, 13201 to 182378
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_description  266064 non-null  category
 1   shop_id           266064 non-null  category
 2   item_price        266064 non-null  int64
 3   quantity_sold     266064 non-null  int64
 4   shop_area_sq_ft   266064 non-null  int64
 5   year              266064 non-null  int64
 6   month             266064 non-null  int64
 7   weekday           266064 non-null  int64
dtypes: category(2), int64(6)
memory usage: 14.7 MB

In [563]:
categorical_columns = ["year", "month", "weekday"]

for category in categorical_columns:
    Train[category] = Train[category].astype("category")

# Metrics

In [564]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


def score_classification(model, df1_x, df1_y, df2_x, df2_y):
  print(model)
  df1_x = df1_x.copy()
  df2_x = df2_x.copy()
  
  ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(handle_unknown='ignore'), [0])], remainder='passthrough')
 
  # One hot encoding for the item_description column

  df1_encoded = ct.fit_transform(df1_x[["item_description"]])
  df1_x = pd.concat([df1_x.drop("item_description", axis=1).reset_index(drop=True), pd.DataFrame(df1_encoded.toarray())], axis='columns')
 
  df2_encoded = ct.transform(df2_x[["item_description"]]) 
  df2_x = pd.concat([df2_x.drop("item_description", axis=1).reset_index(drop=True), pd.DataFrame(df2_encoded.toarray())], axis='columns')    
  
  df1_x.columns = df1_x.columns.astype(str)
  df2_x.columns = df2_x.columns.astype(str)
 
  # Fit the model  
  model.fit(df1_x, df1_y)

  # Make predictions
  y_pred = model.predict(df2_x)

  # Evaluate the model
  accuracy = accuracy_score(df2_y, y_pred)
  precision = precision_score(df2_y, y_pred,  average='macro')
  recall = recall_score(df2_y, y_pred,  average='macro')
  f1 = f1_score(df2_y, y_pred,  average='macro')

  print(f"Accuracy: {accuracy}")
  print(f"Precision: {precision}")
  print(f"Recall: {recall}")
  print(f"F1 Score: {f1}")

In [565]:
Submission_testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86633 entries, 0 to 86632
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_description  80319 non-null  category
 1   shop_id           86633 non-null  int32
 2   item_price        86633 non-null  int64
 3   quantity_sold     86633 non-null  int64
 4   shop_area_sq_ft   86633 non-null  int64
 5   year              86633 non-null  int64
 6   month             86633 non-null  int64
 7   weekday           86633 non-null  int64
dtypes: category(1), int32(1), int64(6)
memory usage: 5.0 MB

## Result Output

In [566]:
def outputResult(model, df1_x, df1_y, test, le):
    print(model)
    df1_x = df1_x.copy()
    df2_x = test.copy()
    
    ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(handle_unknown='ignore'), [0])], remainder='passthrough')

    # One hot encoding for the item_description column

    df1_encoded = ct.fit_transform(df1_x[["item_description"]])
    df1_x = pd.concat([df1_x.drop("item_description", axis=1).reset_index(drop=True), pd.DataFrame(df1_encoded.toarray())], axis='columns')

    df2_encoded = ct.transform(df2_x[["item_description"]])
    df2_x = pd.concat([df2_x.drop("item_description", axis=1).reset_index(drop=True), pd.DataFrame(df2_encoded.toarray())], axis='columns')

    df1_x.columns = df1_x.columns.astype(str)
    df2_x.columns = df2_x.columns.astype(str)

    # Fit the model on the training data
    model.fit(df1_x, df1_y)
    
    # Make predictions on the test data
    y_pred = model.predict(df2_x)
    
    # Inverse transform the encoded predictions to the original shop profiles
    y_pred = le.inverse_transform(y_pred)    
    
    # Create a dataframe with the predicted shop profiles
    results_df = pd.DataFrame({'shop_id': test.shop_id, 'shop_profile': y_pred})    
    # rename the shop_id column with the word "SHOP" and add a 0 in front of the shop_id
    results_df["shop_id"] = results_df["shop_id"].astype(str)
    results_df["shop_id"] = "SHOP" + results_df["shop_id"].str.zfill(3)
    
    results_df.drop_duplicates(inplace=True)
    # Write the dataframe to a CSV file
    results_df.to_csv('predictions_'+str(model).strip("()")+'.csv', index=False)

# Modelling

In [567]:
# unique values in item_description column

print(X_train['item_description'].unique())

# no of null values in item_description column

print(X_train['item_description'].isnull().sum())

['SODA 1L', 'LEMONADE 500ML', 'LEMONADE 1.5L', 'GINGER BEER 1.5L', 'SODA 500ML', ..., 'GINGER BEER SUGAR FREE 500ML', 'LEMONADE 1L', 'NECTO 1L', 'CHOCOLATE MILK 180ML', 'LIME CRUSH JUICE 1L']
Length: 37
Categories (37, object): ['BOTTLED DRINKING WATER 1.5L', 'BOTTLED DRINKING WATER 500ML', 'CHOCOLATE MILK 180ML', 'CREAM SODA 1.5L', ..., 'SODA PET 1.5L', 'STRAWBERRY MILK 180ML', 'TONIC PET 500ML', 'TWISTEE APPLE 1L']
0

In [568]:
from sklearn.linear_model import LogisticRegression
import sys
logr = LogisticRegression()
# np.set_printoptions(threshold=np.inf)
score_classification(logr, X_train, y_train, X_test, y_test)
# np.set_printoptions(threshold=1000)

LogisticRegression()
Accuracy: 0.42414721048754456
Precision: 0.41393245648700505
Recall: 0.4099652958364213
F1 Score: 0.4041638373147771

In [569]:
Submission_testing.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,FIT O MIXED FRUIT 1L,46,270,1,545,2021,10,4
1,FIT O ORANGE 1L,46,290,1,545,2021,10,2
2,LEMONADE 1.5L,46,220,2,545,2021,10,3
3,FIT O MANGO 200ML,46,180,4,545,2021,11,2
4,FIT O MIXED FRUIT 200ML,46,60,1,545,2021,11,2

In [570]:
outputResult(logr, X_train, y_train, Submission_testing, le)

LogisticRegression()

Bug with KNeighborsClassifiers

In [571]:
#Dont use this
# from sklearn.neighbors import KNeighborsClassifier

# knn = KNeighborsClassifier()

# score_classification(knn, X_train, y_train, X_test, y_test)

In [572]:
# outputResult(knn, X_train, y_train, Submission_testing, le)

In [573]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

score_classification(dtc, X_train, y_train, X_test, y_test)

DecisionTreeClassifier()
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

In [574]:
X_train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
13201,SODA 1L,86,110,2,661,2021,10,5
293065,LEMONADE 500ML,37,200,2,717,2021,12,5
63548,LEMONADE 1.5L,66,220,3,470,2021,12,0
466484,GINGER BEER 1.5L,60,220,1,676,2021,10,2
316348,SODA 1L,112,220,3,668,2021,11,0

In [575]:
Submission_testing.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,FIT O MIXED FRUIT 1L,46,270,1,545,2021,10,4
1,FIT O ORANGE 1L,46,290,1,545,2021,10,2
2,LEMONADE 1.5L,46,220,2,545,2021,10,3
3,FIT O MANGO 200ML,46,180,4,545,2021,11,2
4,FIT O MIXED FRUIT 200ML,46,60,1,545,2021,11,2

In [576]:
outputResult(dtc, X_train, y_train, Submission_testing, le)

DecisionTreeClassifier()

In [577]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

score_classification(rfc, X_train, y_train, X_test, y_test)

RandomForestClassifier()
Accuracy: 0.975179277477938
Precision: 0.9752861717671962
Recall: 0.9744813259569143
F1 Score: 0.9748466546398514

In [578]:
outputResult(rfc, X_train, y_train, Submission_testing, le)

RandomForestClassifier()

In [579]:
# from sklearn.naive_bayes import GaussianNB

# nb = GaussianNB()

# score_classification(nb, X_train, y_train, X_test, y_test)

In [580]:
# import xgboost as xgb

# xgb_model = xgb.XGBClassifier(objective='binary:logistic', n_estimators=100, max_depth=5)

# score_classification(xgb_model, X_train, y_train, X_test, y_test)

# Feature Engineering

Mutual Information

In [581]:
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X,y):
  X = X.copy()
  for colname in X.select_dtypes(["object", "category"]):
    X[colname], _ = X[colname].factorize()
  # all discrete features should now have integer dtypes
  discrete_features = [pd.api.types.is_integer_dtype(t) for t in X.dtypes]
  mi_scores = mutual_info_regression(X, y, discrete_features=discrete_features, random_state=0)
  mi_scores = pd.Series(mi_scores, name="Mutual Information Scores", index=X.columns)
  mi_scores = mi_scores.sort_values(ascending=False)
  return mi_scores


def plot_mi_scores(scores):
  scores = scores.sort_values(ascending=True)
  width = np.arange(len(scores))
  ticks = list(scores.index)
  plt.barh(width,scores)
  plt.yticks(width, ticks)
  plt.title("Mututal Information Scores")

In [582]:
# mi_scores = make_mi_scores(X_train, y_train)
# mi_scores

KeyboardInterrupt:

In [ ]:
X_train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
13201,SODA 1L,86,110,2,661,2021,10,5
293065,LEMONADE 500ML,37,200,2,717,2021,12,5
63548,LEMONADE 1.5L,66,220,3,470,2021,12,0
466484,GINGER BEER 1.5L,60,220,1,676,2021,10,2
316348,SODA 1L,112,220,3,668,2021,11,0

Feature Scaling

In [ ]:
X_train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
13201,SODA 1L,86,110,2,661,2021,10,5
293065,LEMONADE 500ML,37,200,2,717,2021,12,5
63548,LEMONADE 1.5L,66,220,3,470,2021,12,0
466484,GINGER BEER 1.5L,60,220,1,676,2021,10,2
316348,SODA 1L,112,220,3,668,2021,11,0

In [583]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
X_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)

ct2 = ColumnTransformer([("sScaler", StandardScaler(), []),
                         ("MinMaxScaler", MinMaxScaler(), ["shop_area_sq_ft","item_price", "quantity_sold"])])
scaled_df1_x = pd.DataFrame(ct2.fit_transform(X_train), columns=["shop_area_sq_ft", "item_price", "quantity_sold"])
scaled_df2_x = pd.DataFrame(ct2.transform(X_test), columns=["shop_area_sq_ft", "item_price", "quantity_sold"])
scaled_submission_df_x = pd.DataFrame(ct2.transform(Submission_testing), columns=["shop_area_sq_ft", "item_price", "quantity_sold"])

# Create copies of X_train and X_test with the scaled values
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()
X_submission_scaled = Submission_testing.copy()


# Assign the scaled values to the new dataframes
X_train_scaled[scaled_df1_x.columns] = scaled_df1_x
X_test_scaled[scaled_df2_x.columns] = scaled_df2_x
X_submission_scaled[scaled_submission_df_x.columns] = scaled_submission_df_x

In [ ]:
X_train.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,SODA 1L,86,110,2,661,2021,10,5
1,LEMONADE 500ML,37,200,2,717,2021,12,5
2,LEMONADE 1.5L,66,220,3,470,2021,12,0
3,GINGER BEER 1.5L,60,220,1,676,2021,10,2
4,SODA 1L,112,220,3,668,2021,11,0

In [ ]:
X_test_scaled.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,GINGER BEER 1L,10,0.006623,0.019608,0.409499,2021,12,4
1,SODA 500ML,127,0.002016,0.019608,0.706033,2021,10,1
2,GINGER BEER 1.5L,84,0.010654,0.019608,0.409499,2021,10,1
3,GINGER BEER 1.5L,17,0.010654,0.019608,0.409499,2021,12,1
4,SODA 1L,83,0.004319,0.029412,0.485237,2021,12,1

In [584]:

print("Scores after standard scaling: ")
score_classification(rfc, X_train_scaled, y_train, X_test_scaled, y_test)

Scores after standard scaling:
RandomForestClassifier()
Accuracy: 0.9752995474841019
Precision: 0.9754218704498799
Recall: 0.9746671944958739
F1 Score: 0.9750152235636746

In [585]:
score_classification(dtc, X_train_scaled, y_train, X_test_scaled, y_test)

DecisionTreeClassifier()
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

In [586]:
from sklearn.decomposition import PCA

def apply_pca(X):
  pca= PCA()
  df1_x = X.copy()
  ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(handle_unknown='ignore'), [0])], remainder='passthrough')

  # One hot encoding for the item_description column

  df1_encoded = ct.fit_transform(df1_x[["item_description"]])
  df1_x = pd.concat([df1_x.drop("item_description", axis=1).reset_index(drop=True), pd.DataFrame(df1_encoded.toarray())], axis='columns')

  df1_x.columns = df1_x.columns.astype(str)

  X_pca = pca.fit_transform(df1_x)
  component_names = [f"PC{i+1}" for i in range(X_pca.shape[1])]
  X_pca = pd.DataFrame(X_pca, columns=component_names)
  #create loadings
  loadings = pd.DataFrame(
  pca.components_.T,
  columns = component_names,
  index=df1_x.columns,
  )
  return pca, X_pca, loadings

def plot_variance(pca, width=8, dpi=100):
  fig, axs = plt.subplots(1,2)
  n = pca.n_components_
  grid = np.arange(1, n+1)
  evr = pca.explained_variance_ratio_
  axs[0].bar(grid,evr)
  axs[0].set(
      xlabel="Component",title="% Explained Variance", ylim=(0.0,1.0)             )
  #Cumulative Variance
  cv = np.cumsum(evr)
  axs[1].plot(np.r_[0,grid], np.r_[0,cv], "o-")
  axs[1].set(xlabel="Component", title="% Cumulatve Variance", ylim=(0.0, 1.0))
  fig.set(figwidth=8, dpi=100)
  return axs

In [ ]:
# pca, X_pca, loadings = apply_pca(X_train_scaled)
# print(loadings)

                          PC1           PC2           PC3           PC4  \
shop_id          9.999999e-01  4.116362e-04  2.930904e-05  6.532546e-05
item_price       2.802056e-06  5.847241e-07 -4.588511e-04  2.174064e-03
quantity_sold    4.081212e-06  6.545116e-05 -6.837778e-05 -1.860780e-03
shop_area_sq_ft -1.236992e-04 -6.843135e-04  1.459271e-03 -3.732076e-03
year            -1.577722e-30 -3.252607e-19 -5.551115e-17 -1.110223e-16
month            3.023357e-05  1.074471e-02 -9.927798e-01 -6.496051e-02
weekday          4.123347e-04 -9.999343e-01 -1.037887e-02 -2.114663e-03
0                3.538843e-05  4.068883e-04 -3.315671e-04 -1.910297e-02
1                4.679017e-05  7.441194e-04 -5.964619e-04 -4.126000e-02
2               -3.081984e-07  6.218528e-06 -1.296671e-04 -9.884733e-05
3               -2.438986e-05 -5.020817e-04 -1.177097e-02 -2.556760e-01
4               -9.818263e-06 -8.022412e-05  1.268312e-04 -7.160366e-03
5               -4.283542e-05  2.372459e-04 -2.967240e-05 -4.430792e-02
6                1.786115e-05  4.893499e-04  3.676640e-03 -2.471459e-02
7                3.017668e-06 -5.363870e-05  1.868357e-03 -1.132029e-02
8                1.364729e-05  2.083060e-04  1.323037e-02 -8.736476e-03
9                2.286626e-05  4.516244e-04  1.279754e-03 -1.220274e-02
10               1.293843e-05 -1.036960e-04  2.236811e-04 -1.418224e-02
11               1.061693e-05  4.797377e-04  2.126146e-03 -1.459973e-02
12               3.556186e-05 -1.810921e-04 -4.213692e-03 -4.023809e-02
13               1.351022e-06  8.806044e-04  1.047091e-03 -2.038558e-02
14              -6.899612e-05 -1.692194e-03 -7.207658e-02  9.518424e-01
15               1.408319e-06  2.377833e-04  5.766039e-03 -3.165994e-02
16              -5.864042e-06  3.461717e-04  5.941849e-04 -5.839278e-03
17              -1.104589e-05  5.687011e-04  1.040046e-03 -2.694873e-02
18               5.026364e-06  1.445073e-04  2.416264e-03 -1.085670e-02
19              -3.859234e-06  1.069417e-04  5.941590e-04 -4.224478e-03
20               1.050063e-05 -1.213463e-03 -6.512811e-03 -3.500838e-02
21               8.227083e-07 -5.632719e-05  4.587045e-03 -2.685139e-03
22              -1.838669e-05  2.373543e-04  9.670508e-04 -1.285460e-02
23              -4.218879e-07 -9.545176e-06 -1.044248e-04 -1.166734e-04
24               3.676401e-05 -9.384055e-04 -5.144431e-02 -8.488528e-02
25              -6.481568e-07  5.350946e-05  4.003800e-04 -2.833318e-03
26              -5.571549e-06  6.720122e-05  9.291760e-04 -6.845428e-03
27               3.005299e-05  1.507698e-03  7.601686e-02 -3.064805e-02
28              -1.883761e-05 -5.797498e-04  2.259593e-03 -1.643484e-02
29              -2.150616e-07  5.529629e-05 -5.614766e-04 -3.197786e-03
30              -8.421159e-06  2.271176e-04 -1.096775e-04 -9.094147e-03
31              -1.808598e-06 -1.173956e-03  5.532098e-03 -2.979525e-02
32              -4.505984e-05 -2.010186e-04  5.159228e-03 -4.246859e-02
33              -2.564948e-05 -1.355208e-03  6.279024e-03 -3.709832e-02
34               2.456624e-05  8.767602e-04 -1.163467e-03 -1.117935e-02
35              -2.406105e-05 -3.810633e-04  4.386085e-03 -2.846752e-02
36               7.017634e-06  1.885261e-04  8.538670e-03 -4.714748e-03

                          PC5           PC6           PC7           PC8  \
shop_id          4.389679e-05 -4.991733e-05 -2.058623e-05  7.681695e-06
item_price       5.283716e-03  7.324702e-03  4.116637e-03 -6.036895e-04
quantity_sold   -1.434300e-03 -2.532196e-03 -9.898802e-04  2.623701e-03
shop_area_sq_ft -1.087940e-02 -5.235819e-02 -3.323078e-02  2.060968e-02
year            -1.110223e-16 -4.163336e-17 -1.526557e-16 -2.269452e-15
month           -2.821831e-02  4.781322e-02 -7.871408e-02  6.250381e-03
weekday         -1.080955e-03  1.674398e-03 -2.271744e-03 -1.854751e-04
0               -2.736831e-02 -2.419216e-02 -1.443904e-02 -1.497882e-03
1               -6.847064e-02 -1.180213e-01 -8.580875e-02 -1.716951e-02
2               -1.014621e-04  2.793014e-05 -1.551248e-04  7.194523e-06
3                9.402821e-01  6.065042e-02  4.305612e-02  2.194763e-03
4               -9.623998e-03 -7.368348e-03 -3.900576e-03 -3.403872e-04
5               -7.520446e-02 -1.481555e-01 -1.113362e-01 -6.663322e-01
6               -3.814225e-02 -4.522706e-02 -1.488517e-02 -4.129487e-03
7               -1.602104e-02 -1.471744e-02 -4.751130e-03 -9.303844e-04
8               -1.522472e-02 -2.590321e-02  1.142584e-02 -2.858741e-03
9               -1.717397e-02 -1.509015e-02 -5.848669e-03 -1.055054e-03
10              -1.982013e-02 -1.634828e-02 -8.726966e-03 -1.136230e-03
11              -2.103022e-02 -1.997420e-02 -6.656478e-03 -1.464735e-03
12              -6.420321e-02 -8.564564e-02 -8.220631e-02 -1.033952e-02
13              -2.989029e-02 -2.907668e-02 -1.372174e-02 -2.066185e-03
14               2.074190e-01  3.066332e-02  5.111656e-02  1.867740e-04
15              -5.193955e-02 -8.121769e-02 -2.457130e-02 -7.760213e-03
16              -7.905421e-03 -6.359637e-03 -2.505246e-03 -3.601155e-04
17              -4.106938e-02 -4.514013e-02 -2.300061e-02 -4.018533e-03
18              -1.545382e-02 -1.427492e-02 -3.385646e-03 -1.268496e-03
19              -5.684986e-03 -4.455169e-03 -1.521052e-03 -3.437244e-04
20              -5.269650e-02 -5.032675e-02 -5.881025e-02 -3.559339e-03
21              -4.486848e-03 -6.891329e-03  3.014882e-03 -6.747467e-04
22              -1.804503e-02 -1.548309e-02 -6.710166e-03 -1.079590e-03
23              -1.313220e-04 -3.367607e-05 -1.616767e-04  1.647575e-05
24              -1.405147e-01  2.813150e-01  9.049176e-01 -9.075002e-03
25              -3.790476e-03 -3.020009e-03 -1.073637e-03 -1.668775e-04
26              -9.354602e-03 -7.608179e-03 -2.661469e-03 -5.788005e-04
27              -1.003319e-01  8.929607e-01 -3.580117e-01  2.799912e-02
28              -2.385000e-02 -2.271199e-02 -7.969949e-03 -1.946027e-03
29              -4.072017e-03 -2.473546e-03 -2.156679e-03 -7.488112e-05
30              -1.227524e-02 -9.095927e-03 -5.153082e-03 -6.084053e-04
31              -4.816702e-02 -7.020647e-02 -2.134384e-02 -6.262231e-03
32              -7.418438e-02 -1.722348e-01 -7.915571e-02  7.440706e-01
33              -6.307721e-02 -1.194195e-01 -4.097819e-02 -2.040849e-02
34              -1.502594e-02 -1.051317e-02 -7.695787e-03 -6.487655e-04
35              -4.519374e-02 -6.090782e-02 -2.079134e-02 -4.867645e-03
36              -8.176276e-03 -1.352357e-02  6.562494e-03 -1.452734e-03

                          PC9          PC10  ...          PC35          PC36  \
shop_id          6.374002e-05 -2.907658e-05  ...  3.963675e-06 -2.427732e-06
item_price      -3.623566e-03 -9.959823e-03  ... -3.665303e-03 -1.996510e-03
quantity_sold   -3.624950e-03  5.498439e-03  ... -3.045780e-03 -2.005455e-03
shop_area_sq_ft -5.277095e-02  3.908925e-03  ...  2.678928e-03 -3.802671e-03
year             7.806256e-16  1.901257e-15  ... -6.869505e-16  1.460637e-15
month            2.453728e-04 -5.089593e-03  ...  1.223633e-03  4.368434e-03
weekday          1.539359e-04  1.304172e-03  ...  3.064551e-05 -5.581255e-05
0               -1.527128e-02 -1.120033e-02  ... -3.652601e-02 -2.017923e-02
1               -4.511275e-01  7.720614e-01  ... -3.129707e-02 -1.741969e-02
2               -2.184898e-05 -2.908794e-05  ...  3.764142e-04  2.872649e-04
3                2.284642e-02  1.546421e-02  ... -2.832626e-02 -1.626348e-02
4               -4.171706e-03 -2.613930e-03  ... -7.584742e-02 -3.759337e-02
5                6.248222e-01  1.409368e-01  ... -3.092947e-02 -1.736999e-02
6               -2.984423e-02 -2.202271e-02  ... -3.349232e-02 -1.828447e-02
7               -7.796515e-03 -4.944179e-03  ... -4.469358e-02 -2.356815e-02
8               -8.700311e-03 -4.481314e-03  ... -4.118642e-02 -1.966877e-02
9               -7.929059e-03 -5.597197e-03  ... -4.319797e-02 -2.315217e-02
10              -9.404641e-03 -6.808088e-03  ... -4.068881e-02 -2.217623e-02
11              -1.072045e-02 -7.375344e-03  ... -3.930024e-02 -2.116228e-02
12              -1.683203e-01 -2.688895e-01  ... -3.153244e-02 -1.789076e-02
13              -1.818519e-02 -1.314446e-02  ... -3.547104e-02 -1.951040e-02
14               1.801390e-02  1.337919e-02  ... -2.787191e-02 -1.665232e-02
15              -7.931870e-02 -6.102037e-02  ... -3.199653e-02 -1.730263e-02
16              -3.289285e-03 -2.153658e-03  ... -1.124204e-01 -5.095939e-02
17              -3.333269e-02 -2.590863e-02  ... -3.325819e-02 -1.845511e-02
18              -6.770056e-03 -4.790912e-03  ... -4.518946e-02 -2.388776e-02
19              -2.116315e-03 -1.482287e-03  ...  9.221114e-01 -3.248145e-01
20              -5.790194e-02 -5.255353e-02  ... -3.244756e-02 -1.860064e-02
21              -2.157794e-03 -9.792596e-04  ...  2.802482e-01  9.350708e-01
22              -8.563507e-03 -5.872289e-03  ... -4.233196e-02 -2.282213e-02
23              -6.789707e-05 -3.053383e-05  ...  5.372180e-04  3.486095e-04
24               5.987877e-02  4.950190e-02  ... -3.071268e-02 -1.966476e-02
25              -1.506565e-03 -9.446696e-04  ...  5.158187e-02  3.642027e-02
26              -3.733203e-03 -2.571282e-03  ... -7.611995e-02 -3.754864e-02
27               5.023320e-02  1.749193e-02  ... -2.862436e-02 -1.299470e-02
28              -1.260698e-02 -8.684733e-03  ... -3.758645e-02 -2.037208e-02
29              -1.529283e-03 -1.051574e-03  ...  5.503703e-02  4.070577e-02
30              -5.010229e-03 -3.623153e-03  ... -5.574218e-02 -2.940841e-02
31              -6.037560e-02 -4.194161e-02  ... -3.232234e-02 -1.743911e-02
32               5.377961e-01  1.236355e-01  ... -3.083465e-02 -1.692997e-02
33              -2.442289e-01 -5.309454e-01  ... -3.127080e-02 -1.695328e-02
34              -6.082905e-03 -4.900949e-03  ... -4.784626e-02 -2.610494e-02
35              -4.939608e-02 -3.388242e-02  ... -3.258474e-02 -1.766397e-02
36              -4.109614e-03 -2.027607e-03  ... -6.824259e-02 -3.001942e-02

                         PC37          PC38          PC39          PC40  \
shop_id          3.662319e-07  3.445593e-07 -4.308731e-06  3.699110e-07
item_price      -1.188090e-03 -6.156599e-04  4.307099e-01  2.564925e-02
quantity_sold   -3.169298e-03 -1.249292e-03  9.021998e-01 -2.093224e-02
shop_area_sq_ft -3.251107e-03 -8.032716e-04 -2.697072e-05 -9.046172e-04
year             1.487525e-15  2.004907e-15 -2.147588e-15 -1.973942e-14
month           -1.421556e-03  5.222453e-04 -2.428381e-04 -1.556553e-04
weekday          1.940622e-05  1.438742e-05  5.646963e-05 -1.122300e-05
0               -3.395451e-02 -7.804090e-03 -7.371556e-05 -2.962851e-02
1               -3.063103e-02 -7.072272e-03 -4.569788e-03 -2.936823e-02
2                5.193461e-04  1.427937e-04  1.303106e-02  6.426203e-02
3               -2.868662e-02 -6.695420e-03 -2.367851e-03 -2.981773e-02
4               -5.018485e-02 -1.121953e-02  2.386020e-03 -3.001394e-02
5               -3.058887e-02 -7.061741e-03  2.812498e-03 -2.964976e-02
6               -3.238600e-02 -7.380180e-03  1.034844e-03 -2.978811e-02
7               -3.853547e-02 -8.690817e-03 -3.936246e-03 -2.991960e-02
8               -3.803165e-02 -8.135621e-03 -2.095944e-03 -3.017821e-02
9               -3.777610e-02 -8.563548e-03 -2.801690e-03 -2.965601e-02
10              -3.638945e-02 -8.310659e-03 -2.524020e-03 -3.009681e-02
11              -3.575225e-02 -8.108309e-03 -3.566207e-03 -2.961467e-02
12              -3.079220e-02 -7.159849e-03 -3.840039e-03 -2.999115e-02
13              -3.343684e-02 -7.652405e-03 -4.350570e-03 -2.956168e-02
14              -2.796644e-02 -6.679589e-03 -7.293668e-04 -2.976329e-02
15              -3.136155e-02 -7.137297e-03  2.481203e-03 -2.974443e-02
16              -5.889000e-02 -1.293037e-02  1.388034e-03 -3.000568e-02
17              -3.211677e-02 -7.375796e-03  2.074705e-03 -2.968307e-02
18              -3.902734e-02 -8.776710e-03  1.439953e-03 -2.978510e-02
19              -9.740347e-02 -2.018209e-02  2.621227e-03 -3.022525e-02
20              -3.127329e-02 -7.316468e-03  2.321081e-04 -2.985510e-02
21              -1.178608e-01 -2.243163e-02  3.082631e-03 -3.031704e-02
22              -3.730450e-02 -8.480702e-03  2.876685e-03 -2.978657e-02
23               7.344305e-04  1.916735e-04  6.544903e-03  9.815902e-01
24              -2.913103e-02 -7.250268e-03 -2.179537e-03 -2.978103e-02
25               5.134941e-01  8.381385e-01  2.842333e-03 -3.055562e-02
26              -5.066278e-02 -1.124812e-02  3.092378e-03 -2.996349e-02
27              -3.099796e-02 -6.450026e-03 -1.541706e-03 -2.997508e-02
28              -3.485843e-02 -7.921324e-03 -3.502698e-04 -2.995519e-02
29               8.190745e-01 -5.426523e-01  1.982204e-03 -3.051313e-02
30              -4.337650e-02 -9.822108e-03  2.498528e-03 -2.987205e-02
31              -3.157367e-02 -7.182022e-03  1.274867e-03 -2.967358e-02
32              -3.062304e-02 -7.000712e-03 -5.465406e-04 -2.955341e-02
33              -3.090902e-02 -7.038201e-03 -2.918124e-03 -2.975990e-02
34              -3.981196e-02 -9.114912e-03 -4.295799e-03 -2.969969e-02
35              -3.171209e-02 -7.218986e-03 -9.104001e-03 -2.979131e-02
36              -4.981588e-02 -1.040886e-02 -1.904769e-03 -3.030886e-02

                         PC41          PC42          PC43          PC44
shop_id          3.890080e-07 -8.944699e-07  0.000000e+00 -0.000000e+00
item_price      -1.850927e-02  9.015006e-01 -6.073874e-14  2.011920e-16
quantity_sold   -5.257216e-03 -4.304175e-01  3.168306e-14 -3.523170e-15
shop_area_sq_ft  2.238588e-04  9.152486e-05 -1.746952e-16 -6.543246e-17
year            -2.615443e-14  6.761779e-14  9.867469e-01  1.622672e-01
month           -1.460598e-04 -1.794267e-04 -2.117297e-17  1.707828e-18
weekday          3.374422e-06  1.586457e-05 -1.612284e-18  1.316958e-17
0               -2.552932e-02  5.628610e-03 -2.667656e-02  1.622202e-01
1               -2.549405e-02  9.851493e-03 -2.667656e-02  1.622202e-01
2                9.841366e-01  1.215718e-02 -2.667656e-02  1.622202e-01
3               -2.526526e-02 -4.724807e-03 -2.667656e-02  1.622202e-01
4               -2.562943e-02  7.537359e-04 -2.667656e-02  1.622202e-01
5               -2.548777e-02  3.520497e-03 -2.667656e-02  1.622202e-01
6               -2.545560e-02  2.761134e-04 -2.667656e-02  1.622202e-01
7               -2.543681e-02 -1.763968e-03 -2.667656e-02  1.622202e-01
8               -2.542021e-02 -7.685695e-03 -2.667656e-02  1.622202e-01
9               -2.555748e-02  6.606992e-03 -2.667656e-02  1.622202e-01
10              -2.533161e-02 -7.849160e-03 -2.667656e-02  1.622202e-01
11              -2.552970e-02  6.617937e-03 -2.667656e-02  1.622202e-01
12              -2.522217e-02 -8.892524e-03 -2.667656e-02  1.622202e-01
13              -2.548505e-02  6.512692e-03 -2.667656e-02  1.622202e-01
14              -2.526487e-02 -3.919772e-03 -2.667656e-02  1.622202e-01
15              -2.547497e-02  7.062223e-04 -2.667656e-02  1.622202e-01
16              -2.569871e-02  3.372235e-03 -2.667656e-02  1.622202e-01
17              -2.550285e-02  3.481419e-03 -2.667656e-02  1.622202e-01
18              -2.559849e-02  4.711999e-03 -2.667656e-02  1.622202e-01
19              -2.579410e-02  2.445351e-03 -2.667656e-02  1.622202e-01
20              -2.535210e-02 -3.451157e-03 -2.667656e-02  1.622202e-01
21              -2.589571e-02  2.376886e-03 -2.667656e-02  1.622202e-01
22              -2.557719e-02  3.535110e-03 -2.667656e-02  1.622202e-01
23              -9.123942e-02 -3.292019e-02 -2.667656e-02  1.622202e-01
24              -2.521119e-02 -4.559430e-03 -2.667656e-02  1.622202e-01
25              -2.595458e-02  7.535902e-04 -2.667656e-02  1.622202e-01
26              -2.568168e-02  3.543691e-03 -2.667656e-02  1.622202e-01
27              -2.542283e-02 -4.362679e-03 -2.667656e-02  1.622202e-01
28              -2.541024e-02 -3.601297e-03 -2.667656e-02  1.622202e-01
29              -2.590935e-02  6.436543e-04 -2.667656e-02  1.622202e-01
30              -2.561824e-02  3.556356e-03 -2.667656e-02  1.622202e-01
31              -2.549281e-02  2.719144e-03 -2.667656e-02  1.622202e-01
32              -2.548929e-02  5.617318e-03 -2.667656e-02  1.622202e-01
33              -2.536923e-02 -1.405957e-03 -2.667656e-02  1.622202e-01
34              -2.552988e-02  5.856866e-03 -2.667656e-02  1.622202e-01
35              -2.527335e-02 -3.311716e-03 -2.667656e-02  1.622202e-01
36              -2.553108e-02 -6.796737e-03 -2.667656e-02  1.622202e-01

[44 rows x 44 columns]

In [ ]:
# mi_scores = make_mi_scores(X_pca, y_train)
# mi_scores

PC1     1.092137
PC3     0.922312
PC2     0.813435
PC4     0.705458
PC20    0.526378
PC5     0.520097
PC10    0.517199
PC8     0.503522
PC18    0.498645
PC23    0.492386
PC14    0.489111
PC28    0.488910
PC33    0.484306
PC22    0.483800
PC17    0.480447
PC13    0.477267
PC35    0.476823
PC19    0.476669
PC15    0.475993
PC24    0.475980
PC42    0.475768
PC6     0.472890
PC36    0.472135
PC7     0.471602
PC21    0.470641
PC11    0.468679
PC16    0.467102
PC9     0.466920
PC31    0.466909
PC29    0.465286
PC30    0.464821
PC12    0.464109
PC37    0.463963
PC38    0.462273
PC26    0.460995
PC39    0.460308
PC41    0.458861
PC40    0.458274
PC34    0.457402
PC27    0.455995
PC32    0.455208
PC25    0.454391
PC44    0.448442
PC43    0.448416
Name: Mutual Information Scores, dtype: float64

In [ ]:
X_train_scaled.head()

,item_description,shop_id,item_price,quantity_sold,shop_area_sq_ft,year,month,weekday
0,SODA 1L,86,0.004319,0.029412,0.465982,2021,10,5
1,LEMONADE 500ML,37,0.009502,0.029412,0.537869,2021,12,5
2,LEMONADE 1.5L,66,0.010654,0.039216,0.220796,2021,12,0
3,GINGER BEER 1.5L,60,0.010654,0.019608,0.485237,2021,10,2
4,SODA 1L,112,0.010654,0.039216,0.474968,2021,11,0

In [587]:
# Create price-related features
X_train_scaled['total_sales'] = X_train_scaled['item_price'] * X_train_scaled['quantity_sold']
# Create shop-related features
# X_train_scaled['shop_sales_per_sq_ft'] = X_train_scaled['total_sales'] / X_train_scaled['shop_area_sq_ft']
X_train_scaled['shop_sales_rank'] = X_train_scaled.groupby('shop_id')['total_sales'].rank(ascending=False)


X_test_scaled['total_sales'] = X_test_scaled['item_price'] * X_test_scaled['quantity_sold']
# X_test_scaled['shop_sales_per_sq_ft'] = X_test_scaled['total_sales'] / X_test_scaled['shop_area_sq_ft']
X_test_scaled['shop_sales_rank'] = X_test_scaled.groupby('shop_id')['total_sales'].rank(ascending=False)

X_submission_scaled['total_sales'] = X_submission_scaled['item_price'] * X_submission_scaled['quantity_sold']
# X_submission_scaled['shop_sales_per_sq_ft'] = X_submission_scaled['total_sales'] / X_submission_scaled['shop_area_sq_ft']
X_submission_scaled['shop_sales_rank'] = X_submission_scaled.groupby('shop_id')['total_sales'].rank(ascending=False)

In [588]:
# remove the redundant columns

X_train_scaled.drop(['item_price', 'quantity_sold'], axis=1, inplace=True)
X_test_scaled.drop(['item_price', 'quantity_sold'], axis=1, inplace=True)
X_submission_scaled.drop(['item_price', 'quantity_sold'], axis=1, inplace=True)

In [589]:
X_train_scaled.head()

,item_description,shop_id,shop_area_sq_ft,year,month,weekday,total_sales,shop_sales_rank
0,SODA 1L,86,0.465982,2021,10,5,0.000127,3003.5
1,LEMONADE 500ML,37,0.537869,2021,12,5,0.000279,827.5
2,LEMONADE 1.5L,66,0.220796,2021,12,0,0.000418,580.0
3,GINGER BEER 1.5L,60,0.485237,2021,10,2,0.000209,1127.5
4,SODA 1L,112,0.474968,2021,11,0,0.000418,285.0

In [590]:
X_train_scaled.describe()

,shop_area_sq_ft,year,month,weekday,total_sales,shop_sales_rank
count,266064.000000,266064.0,266064.000000,266064.000000,266064.000000,266064.000000
mean,0.430169,2021.0,11.024182,3.341437,0.000379,1449.060155
std,0.159823,0.0,0.776629,2.012698,0.001923,940.751166
min,0.000000,2021.0,10.000000,0.000000,0.000000,1.000000
25%,0.394095,2021.0,10.000000,2.000000,0.000110,694.500000
50%,0.409499,2021.0,11.000000,4.000000,0.000209,1341.000000
75%,0.485237,2021.0,12.000000,5.000000,0.000313,2091.500000
max,1.000000,2021.0,12.000000,6.000000,0.607843,4513.000000

In [591]:
#check for missing values

X_train_scaled.isnull().sum()

item_description    0
shop_id             0
shop_area_sq_ft     0
year                0
month               0
weekday             0
total_sales         0
shop_sales_rank     0
dtype: int64

In [593]:
X_submission_scaled.isnull().sum()

item_description    6314
shop_id                0
shop_area_sq_ft        0
year                   0
month                  0
weekday                0
total_sales            0
shop_sales_rank        0
dtype: int64

In [594]:
# drop the rows with missing values

X_train_scaled.dropna(inplace=True)
X_test_scaled.dropna(inplace=True)
X_submission_scaled.dropna(inplace=True)

In [ ]:
# # Impute missing values for the shop_sales_per_sq_ft column

# from sklearn.impute import SimpleImputer

# imputer = SimpleImputer(missing_values = np.nan, strategy="mean")
# imputer.fit(X_train_scaled[["shop_sales_per_sq_ft"]])

# X_train_scaled = pd.DataFrame(imputer.transform(X_train_scaled), columns=["shop_sales_per_sq_ft"]])
# X_test_scaled = pd.DataFrame(imputer.transform(X_test_scaled), columns=X_train_scaled.columns)
# X_submission_scaled = pd.DataFrame(imputer.transform(X_submission_scaled), columns=X_submission_scaled.columns)

In [595]:
score_classification(dtc, X_train_scaled, y_train, X_test_scaled, y_test)

DecisionTreeClassifier()
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0

In [596]:
outputResult(dtc, X_train, y_train, Submission_testing, le)

DecisionTreeClassifier()